@import "~bulma/bulma.sass";

$navbar-item-color: #812F33;
$title-color: #812F33;
$subtitle-color: #812F33;
$input-color: #812F33;
$input-border-color:  #812F3370;
$input-shadow: #812F3370;
$input-placeholder-color: #812F3350;
$title-family: 'Star Jedi';
$button-color: #FFFFFF;
$button-background-color: #035E73;
$tag-color: #812F33;
$menu-item-color: #FFFFFF;