@import "./variables.sass";
@import "~bulma/bulma.sass";
@import url(https://fonts.googleapis.com/css?family=News+Cycle:400,700);

@font-face {
	font-family: 'Star Jedi';
	src: url('./fonts/StarJedi.eot');
	src: url('./fonts/StarJedi.eot?#iefix') format('embedded-opentype'),
			url('./fonts/Starjedi.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}


html{
	background: linear-gradient(#303333, #190824);
	background-attachment: fixed;
}

.title {
	font-size: 380%;
}

.jediFont {
	font-family: 'Star Jedi';
	text-align: center;
}

.light-saber {
	font-size: 140%;
	margin-top: 10px;
}

.button-saber {
	margin-right: 10px;
}

table {
	border-collapse: collapse;
	overflow: hidden;
	box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

.activated-filter {
	width: 400px;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: flex-end;
	align-content: space-around;
}

th,
td {
	padding: 15px;
	background-color: rgba(255,255,255,0.2);
	color: #fff;
}

th {
	text-align: left;
}

thead {
	th {
		background-color: #55608f;
	}
}

tbody {
	tr {
		&:hover {
			background-color: rgba(255,255,255,0.3);
		}
	}
	td {
		position: relative;
		&:hover {
			&:before {
				content: "";
				position: absolute;
				left: 0;
				right: 0;
				top: -9999px;
				bottom: -9999px;
				background-color: rgba(255,255,255,0.2);
				z-index: -1;
			}
		}
	}
}

.load {
	position:relative;
	width: 50px;
  top: 100px;
	left: 49%;
	font-size: 100px;
	display: flex;
	align-items: center;
	align-content: center;
	animation: loading linear 5s;
	animation-iteration-count: infinite;
	
}

@keyframes loading {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

@media only screen and  (max-width: 760px) {
	// $menu-item-color: #FFD700;

	// .test {
	// 	display: none;
	// }

	body{
		width: 100%;
	}

	.brandContainer {
		width: 100% !important;
	}

	.navbar-brand {
		width:100%;
		height: 145px !important;
		// display: flex !important;
	}

	.button-saber {
		width: 16px;
	}

	.sabcontainer {
		right: -20px !important;
		width: fit-content !important;
	}

	.brandInside {
		width: 100% !important;
		margin: 0% !important;
	}

	.load {
		display: none;
	}

	.navbar {
		width: 100%;
		height: fit-content;
	}

	.navbar-start {
		width:100%;
		height: 0px;
		position: absolute;
		top: 120px;
	}

	.navbar-menu{
	 display: none;
	}

	.navbar-menu.is-active {
		width:108%;
		position:relative;
	}

	.activated-filter {
		width: 360px
	}

	.intro_text {
    font-family: "News Cycle";
    color: #00BFFF;
    font-weight: 400;
    letter-spacing: .1em;
		font-size:xx-large;
		text-align: justify;
		padding: 50% 10px 60% 10px;
	}

	.intro_animacao {
		animation: intro 3s ease-out ;
		animation-fill-mode: forwards;
	}

	.arrows {
		text-align: center;
	}

	.arrow_1 {
		animation: arrowOne 3s  linear 3.3s;
		animation-direction: normal;
		animation-iteration-count: infinite;
		animation-fill-mode: backwards;
	}
	.arrow_2 {
		animation: arrowTwo 3s  linear 3.2s;
		animation-direction: normal;
		animation-iteration-count: infinite;
		animation-fill-mode: backwards;
	}
	.arrow_3 {
		animation: arrowTree 3s  linear 3.1s;
		animation-direction: normal;
		animation-iteration-count: infinite;
		animation-fill-mode: backwards;
	}

	@keyframes intro {
		0% {
			opacity: 0;
		}
		30% {
			opacity: 1;
		}
		70% {
			opacity: 1;
		}
		100% {
			opacity: 0;
		}
	}
	@keyframes arrowOne {
		0% {
			opacity: 0;
		}
		30% {
			opacity: 1;
		}
		70% {
			opacity: 1;
		}
		100% {
			opacity: 0;
		}
	}
	@keyframes arrowTwo {
		0% {
			opacity: 0;
		}
		30% {
			opacity: 1;
		}
		70% {
			opacity: 1;
		}
		100% {
			opacity: 0;
		}
	}
	@keyframes arrowTree {
		0% {
			opacity: 0;
		}
		30% {
			opacity: 1;
		}
		70% {
			opacity: 1;
		}
		100% {
			opacity: 0;
		}
	}

	.clockwise {
		animation: clock 0.3s ease-out ;
		
	}

	@keyframes clock {
		0% {
			transform: rotate(0deg);
		}
		100% {
			transform: rotate(360deg);
		}
	}

	.counterClockwise {
		animation: counterClock 0.3s ease-out ;
		animation-fill-mode: forwards;
	}

	@keyframes counterClock {
		0% {
			transform: rotate(0deg);
		}
		100% {
			transform: rotate(-405deg);
		}
	}



	html{
		background-image: url("./imgs/QuRfn9.png");
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-size: auto;
		background-blend-mode: darken;
	}

	table { 
		border: 0;
		width: fit-content;
	}

	table thead { 
		display: none; 
	}
	
	table tr {
		display: block;
		margin-bottom: 2em;
	}
	
	table td {
		display: block;
		position: relative;
		word-wrap:break-word;
		
	}

	.rotated {
		transform: rotate(45deg);
	}

	.td-content {
		font-family: "News Cycle", sans-serif;
    font-weight: 700;
    color: #FFD700;
    text-align: center;
		width: 100%;
    letter-spacing: .1em;
    line-height: 1.1em;
		z-index: 1;
    transform-origin: 50%;
    transform: perspective(300px) rotateX(40deg);
	}

	// td:before {
	// 	content: attr(data-label);
	// 	display: inline-block;
	// 	font-weight: bold;
	// 	text-transform: uppercase;
	// 	width: 100%;
	// }

}
